*:hover{
  text-decoration: none;
}

body {
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #2d3748;
}

a:active, a:focus {
  outline: 0;
  border: none;
}

header {
  
  background-image: linear-gradient(0deg, rgba(28, 58, 104, 0.4), rgba(29, 64, 116, 0.7)),
    url(https://images.unsplash.com/photo-1521249664898-864e6c1b6d5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

button > svg {
  width: '100px';
}


.container {
  max-width: 1140px;
  margin: auto;
}

.meme_title {
  display: none;
  animation: fadeIn ease 0.7s;
  color: #fff;
  z-index: 5;
}
.meme_box {
  border-radius: 10px;
}
.meme_box::before {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 1;
}

.meme_box:hover .meme_title {
  display: block;
}

.meme_box:hover:before {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 45%;
}

/* ANIMATIONS */

.slide_up {
  animation: slideUp ease 0.7s;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade_in {
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fav_icon {
  display: none;
}

.slide_right {
  animation: slideRight ease 0.7s;
}

@keyframes slideRight {
  0% {
    display: block;
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    color: #f6e05e;
  }
}
